body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

nav {
  height: 8vh;
}
.nav-links a {
  position: relative;
}

nav .nav-links a {
  color: #999999;
}

nav .nav-links a:hover {
  color: #f04c39;
}

nav .nav-links a.active::before {
  width: 100%;
}

nav .nav-links a.active {
  color: #f04c39;
}

.nav-links a::before {
  position: absolute;
  content: "";
  height: 0.1rem;
  right: 0;
  width: 0%;
  transition: all 0.3s linear;
  bottom: -2px;
}

nav .nav-links a::before {
  background: #f04c39;
}
.last .nav-links a::before {
  background: white;
}

.nav-links a:hover::before {
  left: 0;
  width: 100%;
}

.first-view {
  height: 60vh;
}

aside {
  border-right: 2px solid #eee;
}

select {
  border: 1.5px solid #c4c4c4;
}

.single-product {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15),
    -2px -2px 2px rgba(225, 225, 225, 1);
  height: 53vh;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.single-product:hover {
  box-shadow: 12px 12px 24px #f6a63e71, -12px -12px 12px #eee;
}

.single-product .prodImg {
  height: 60%;
}

.single-product button {
  background: linear-gradient(90deg, #f04c39 50.19%, #f6a73e 100%);
}

input[type="search"] {
  border: 1px solid #d2d2d2;
}

input[type="button"] {
  background: linear-gradient(90deg, #f04c39 50.19%, #f6a73e 100%);
}

/* Slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 45%; /* Full-width */
  height: 0.3rem; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

@media screen and (max-width: 768px) {
  img {
    object-fit: cover;
  }
  .single-product {
    height: 42vh;
  }

  nav.resp {
    height: 30vh;
    border: none;
  }
}

@media screen and (max-height: 667px) {
  nav.resp {
    height: 34vh;
  }
}
